<!DOCTYPE html>
<html>
  <head>
    <title>Sara's Super Awesome Reddit Scraper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>


  <body>

    <div class="jumbotron">

        <h2 class="display-3">Scraping Is Super Great</h2>

        <br>
        <br>

        <form id="submit-subreddit-url" action="{{ url_for('scrape_submission_and_send') }}" method="POST", class="scrape_submission_and_send">
            <dl>
            <h4><strong>Link to Reddit Post:</strong></h4><br>
            <dd><input type="text" size="80" name="rawurl" value="https://www.reddit.com/r/ChildrenFallingOver/comments/6tfvvv/if_you_go_i_go/">
            <br>
            <dd><input type=submit value="Gimmie Da Sprudsheetz">
            </dl>
        </form>
      </div>

  </body>
</html>